<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="eventSenderFactory" class="com.example.mybank.event.EventSenderFactoryBean"/>
    <import resource="bankapp-postprocessor.xml"/>

    <context:component-scan base-package="com.example.mybank"/>

    <import resource="bankapp-propertyeditor.xml"/>
    <import resource="bankapp-dao.xml"/>
    <import resource="bankapp-domain.xml"/>
    <import resource="bankapp-service.xml"/>
    <import resource="bankapp-controller.xml"/>
</beans>