<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Fixed Deposit</title>
    <link rel="stylesheet" href="../static/createFixedDepositForm.css" data-th-href="@{/createFixedDepositForm.css}">
</head>
<body>
<div>
    <h1>Open fixed deposit</h1>
    <form name="createFixedDepositForm" method="post" action="/fixedDeposit?fdAction=create">
        <table>
            <tr>
                <td><label for="amount"><b>Amount (in USD):</b></label></td>
                <td><input type="text" id="amount" name="depositAmount" value="100000"
                           data-th-class="${errors.containsKey('depositAmount')} ? 'error'"
                           data-th-value="${errors['depositAmount']} ?: ${fixedDepositDetails.depositAmount}"></td>
            </tr>
            <tr>
                <td><label for="tenure"><b>Tenure (in months):</b></label></td>
                <td><input type="text" id="tenure" name="tenure" value="6"
                           data-th-class="${errors.containsKey('tenure')} ? 'error'"
                           data-th-value="${errors['tenure']} ?: ${fixedDepositDetails.tenure}"></td>
            </tr>
            <tr>
                <td><label for="email"><b>Email:</b></label></td>
                <td><input type="text" id="email" name="email" value="example@email.com"
                           data-th-class="${errors.containsKey('email')} ? 'error'"
                           data-th-value="${errors['email']} ?: ${fixedDepositDetails.email}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Save">
                    <a href="fixedDepositList.html" data-th-href="@{/fixedDeposit/list}"><b>Go Back</b></a>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>