<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit a fixed deposit</title>
    <link rel="stylesheet" href="../static/editFixedDepositForm.css" data-th-href="@{/editFixedDepositForm.css}">
</head>
<body>
<div>
    <h1>Edit a fixed deposit</h1>
    <form name="editFixedDepositForm" method="post" action="/fixedDeposit?fdAction=edit">
        <table>
            <tr>
                <td><label for="id"><b>Id:</b></label></td>
                <td><input type="text" id="id" name="id" value="0"
                           data-th-class="${error.id} ? 'error'"
                           data-th-value="${error.id} ?: ${fixedDepositDetails.id}" readonly></td>
            </tr>
            <tr>
                <td><label for="amount"><b>Amount (in USD):</b></label></td>
                <td><input type="text" id="amount" name="depositAmount" value="100000"
                           data-th-class="${error.depositAmount} ? 'error'"
                           data-th-value="${error.depositAmount} ?: ${fixedDepositDetails.depositAmount}"></td>
            </tr>
            <tr>
                <td><label for="tenure"><b>Tenure (in months):</b></label></td>
                <td><input type="text" id="tenure" name="tenure" value="6"
                           data-th-class="${error.tenure} ? 'error'"
                           data-th-value="${error.tenure} ?: ${fixedDepositDetails.tenure}"></td>
            </tr>
            <tr>
                <td><label for="email"><b>Email:</b></label></td>
                <td><input type="text" id="email" name="email" value="example@email.com"
                           data-th-class="${error.email} ? 'error'"
                           data-th-value="${error.email} ?: ${fixedDepositDetails.email}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Save">
                    <a href="fixedDepositList.html" data-th-href="@{/fixedDeposit/list}"><b>Go Back</b></a>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>