<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <context:property-placeholder location="application.properties, properties/test.properties" />

    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="propertyEditorRegistrars">
            <array>
                <bean class="com.example.mybank_xml.propertyeditor.MyPropertyEditorRegistrar" />
            </array>
        </property>
    </bean>

    <import resource="config-database.xml" />
    <import resource="config-task.xml" />
    <import resource="config-aop.xml" />
    <import resource="bean-dao.xml" />
    <import resource="bean-service.xml" />
    <import resource="bean-controller.xml" />
    <import resource="config-web.xml" />
</beans>